.home-container {
  width: 100%;
  height: 100vh;

  /* set back ground image to fill the whole page get the image from the public folder */
  background-image: url("http://localhost:3000/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
