/* Style for the container div */
.location-picker-container {
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 450px;
  padding: 20px;

  /* style the background */
  background-color: rgba(18, 17, 61, 0.9);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* position */
  position: absolute;
  top: 55vh;
  left: 200px;
  transform: translate(-25%, -50%);
}

.location-picker-header {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 40px;
  font-weight: 600;
  line-height: 32px;
  color: #e7eff1;
  margin: 20px;
  height: 100px;
}

/* Style for the search container */
.search-container {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.location-picker-container .mapboxgl-ctrl-geocoder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

/* Style for the input box */
.location-picker-container #pickup-box {
  width: fit-content;
  padding: 5px 20px;
}

.location-picker-container #dropoff-box {
  width: fit-content;
  padding: 5px 20px;
}

.location-picker-container .mapboxgl-ctrl-geocoder input[type="text"] {
  padding: 7px 15px;
  font-size: 26px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  width: 370px;
}

.location-picker-container .mapboxgl-ctrl-geocoder--pin-right {
  position: relative;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}
.location-picker-container .mapboxgl-ctrl-geocoder--button {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
  margin-bottom: -30px;
  /* no background or border */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.location-picker-container .mapboxgl-ctrl-geocoder--icon {
  fill: #fff;
}
.location-picker-container .mapboxgl-ctrl-geocoder--icon-search {
  display: none;
}

/* Style for suggestions wrapper */
.location-picker-container .mapboxgl-ctrl-geocoder .suggestions {
  position: absolute;
  width: 100%;
  max-width: 93%;
  max-height: 200px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 25px;

  margin-left: -93%;
  padding: 0;
  list-style: none;

  z-index: 1;
}
.location-picker-container .mapboxgl-ctrl-geocoder .suggestions li {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

/* Style for the Confirm Locations button */
.location-picker-container .location-picker-button-container {
  margin: 20px;
}

.confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 26px;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
  color: #333333;
  cursor: pointer;
  margin: auto 0;

  width: 200px;
  height: 45px;

  /* style the hover */
  &:hover {
    background-color: #cccccc;
    color: #12113d;
    transition: all 0.2s ease-in-out;
  }

  /* style the active */
  &:active {
    background-color: #b2b2b2;
  }
}

.confirm-link {
  text-decoration: none;
  color: #333333;
}
