/* SignUp.css */
.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.signup-container {
  max-width: 30%;
  margin-left: 35%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
}

input[type="radio"] {
  margin-bottom: 8px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

button {
  background-color: #12113d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #1c1b4b;
}

/* Apply styles for the driver class */
.signup-container.driver {
  /* Additional styling for driver-specific fields */
  /* Adjust the styles as needed */
}

/* Error message styles */
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}
