.ride-container {
  display: flex;

  padding-top: 72px;
  height: calc(100vh - 72px);
}

.ride-info {
  width: 30%;
  background-color: #f5f5f5;

  position: relative;
}

.ride-info-container {
  width: 100%;
}

.ride-info-header {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 40px;
  font-weight: 600;
  line-height: 32px;
  color: #12113d;
  margin: 20px;
  height: 100px;
}

.ride-info-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 72px - 100px - 40px - 40px);
}

.ride-info-item {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.ride-info-item-header {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #12113d;
}

.ride-info-item-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ride-info-item-content-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #12113d;
}

.ride-info-item-content-city {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #12113d;
}

.ride-map {
  position: relative;

  width: 70%;
}

.ride-map-max-width {
  position: fixed;
  width: 100%;
  top: 72px;
  height: calc(100vh - 72px);
}

@media (max-width: 1000px) {
  .ride-container {
    padding-top: 100px;
    height: calc(100vh - 100px);
  }
  .ride-info {
    width: 100%;
  }
  .dont-display {
    display: none;
  }
}

@media (max-width: 450px) {
  .ride-container {
    padding-top: 125px;
    height: calc(100vh - 100px);
  }
}
